<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Stocks!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% for stock in stocks %}
                <p>
                    <a id="stockName" href="{{ path('stock_overview', {'stockId': stock.id}) }}">
                        <label>
                            {{ stock.name }}
                        </label>
                    </a>
                    {{ stock.tag }}
                    {% if stock.disabled is not null and stock.disabled %}
                        Neaktyvus
                    {% else %}
                        Aktyvus
                    {% endif %}
                </p>
            {% endfor %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
