<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stocks!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="row">
        <div class="container">
            <p style="margin: auto; display: table">
                {{ stockName }}
                <a id="stockName" href="{{ path('index') }}">
                    <label>
                        Back
                    </label>
                </a>
            </p>
        </div>
        <p>The bid price represents the maximum price that a buyer is willing to pay for a share of stock or other
            security. The ask price represents the minimum price that a seller is willing to take for that same
            security</p>
        <div class="container">
            <table style="margin: auto; width: 1200px">
                <tr>
                    <td>Bid</td>
                    <td>Bid size</td>
                    <td>Ask</td>
                    <td>Ask Size</td>
                    <td>Currency</td>
                    <td>Regular Market Price</td>
                    <td>Regular Market Day High</td>
                    <td>Regular Market Day Low</td>
                    <td>Regular Market Day Range</td>
                    <td>Created At</td>
                </tr>
                {% for stockTransaction in stockTransactions %}
                    <tr>
                        <td>{{ stockTransaction.bid }}</td>
                        <td>{{ stockTransaction.bidSize }}</td>
                        <td>{{ stockTransaction.ask }}</td>
                        <td>{{ stockTransaction.askSize }}</td>
                        <td>{{ stockTransaction.currency }}</td>
                        <td>{{ stockTransaction.regularMarketPrice }}</td>
                        <td>{{ stockTransaction.regularMarketDayHigh }}</td>
                        <td>{{ stockTransaction.regularMarketDayLow }}</td>
                        <td>{{ stockTransaction.regularMarketDayRange }}</td>
                        <td>{{ stockTransaction.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
