<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stocks!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    {% set transYesterday = true %}
    {% set transToday = true %}
    <div class="row">
        <div class="container">
            <p style="font-size: 30px; font-weight: bold">
                {{ stock.name }}
            </p>
        </div>
        {% if tranYesterday is not defined %}
            {% set transYesterday = false %}
        {% endif %}
        {% if tranToday is not defined %}
            {% set transToday = false %}
        {% endif %}
        {# {% if tranYesterday is defined and tranToday is defined %} #}
        <div class="container">
            <table style="width: 538px; height: 306px; margin-left: auto; margin-right: auto;" border="1">
                <tbody>
                <tr>
                    <td style="width: 139px;">&nbsp;</td>
                    <td style="width: 173px;">
                        &nbsp;Vakar {{ transYesterday ? tranYesterday.createdAt|date('Y-m-d H:i') : '' }}</td>
                    <td style="width: 173px;">
                        &Scaron;iandien {{ transToday ? tranToday.createdAt|date('Y-m-d H:i') : '' }}</td>
                </tr>
                <tr>
                    <td style="width: 139px;">Price</td>
                    <td style="width: 173px;">{{ transYesterday ? tranYesterday.regularMarketPrice : '' }}</td>
                    <td style="width: 173px;">{{ transToday ? tranToday.regularMarketPrice : '' }}</td>
                </tr>
                <tr>
                    <td style="width: 139px;">Currency&nbsp;</td>
                    <td style="width: 173px;">{{ transYesterday ? tranYesterday.currency : '' }}</td>
                    <td style="width: 173px;">{{ transToday ? tranToday.currency : '' }}</td>
                </tr>
                <tr>
                    <td style="width: 139px;">Bid&nbsp;</td>
                    <td style="width: 173px;">{{ transYesterday ? tranYesterday.bid : '' }}</td>
                    <td style="width: 173px;">{{ transToday ? tranToday.bid : '' }}</td>
                </tr>
                <tr>
                    <td style="width: 139px;">Bid Size&nbsp;</td>
                    <td style="width: 173px;">{{ transYesterday ? tranYesterday.bidSize : '' }}</td>
                    <td style="width: 173px;">{{ transToday ? tranToday.bidSize : '' }}</td>
                </tr>
                <tr>
                    <td style="width: 139px;">Ask&nbsp;</td>
                    <td style="width: 173px;">{{ transYesterday ? tranYesterday.ask : '' }}</td>
                    <td style="width: 173px;">{{ transToday ? tranToday.ask : '' }}</td>
                </tr>
                <tr>
                    <td style="width: 139px;">Ask Size&nbsp;</td>
                    <td style="width: 173px;">{{ transYesterday ? tranYesterday.askSize : '' }}</td>
                    <td style="width: 173px;">{{ transToday ? tranToday.askSize : '' }}</td>
                </tr>
                <tr>
                    <td style="width: 139px;">Regular Market Range&nbsp;</td>
                    <td style="width: 173px;">{{ transYesterday ? tranYesterday.regularMarketDayRange : '' }}</td>
                    <td style="width: 173px;">{{ transToday ? tranToday.regularMarketDayRange : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {# {% endif %} #}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
